
  <div class="modal-header">
      <h4 class="modal-title pull-left"></h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal(1)">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2">Título: </label>
              <br>
              <input type="email" class="form-control" name="titulo" id="titulo" [(ngModel)]="titulo">
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2">URL da imagem: </label>
                <br>
                <input type="email" class="form-control" name="url" id="url" [(ngModel)]="urlImg">
            </div>
            <div class="col-auto my-1">
              <label for="exampleFormControlTextarea1">Resumo: </label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #resumeValue>
                  {{resumo}}
              </textarea>
            </div>
            <div class="col-auto my-1">
                <label for="exampleFormControlTextarea2">Texto: </label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="5" #textoValue>
                    {{texto}}
                </textarea>
            </div>
            <div class="row">
              <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
                <label for="">Data: </label>
                <input type="text"
                       class="form-control"
                       bsDatepicker
                       [bsValue]="bsValue"
                       #dateValue
                       [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }">
              </div>
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2">Fonte: </label>
                <br>
                <input type="email" class="form-control" name="fonte" id="fonte" [(ngModel)]="fonte">
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Categoria: </label>
                <br>
                <select class="form-select" aria-label="Default select example" (change)="getValue($event)">
                    <option selected>Selecione...</option>
                    <option value="{{item.value}}" *ngFor="let item of categorias">{{item.value}}</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2">Link da notícia: </label>
                <br>
                <input type="email" class="form-control" name="email" id="email" [(ngModel)]="linkNoticia">
            </div>
          <div class="col-auto my-1">
            <button type="button" class="btn btn-secondary" (click)="closeModal(1)">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="openModal2(templateTwo)">Salvar</button>
          </div>
        </div>
      </form>
  </div>


<ng-template #templateTwo>
  <div class="modal-header">
    <h4 class="modal-title pull-left"></h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef2?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="mr-sm-2">Tem certeza que deseja fazer as alterações?</label>
    <br />
    <br />
    <button type="button" class="btn btn-secondary" (click)="closeModal(2)">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="openModal3(templateThree)">Confirmar</button>
  </div>
</ng-template>

<ng-template #templateThree>
  <div class="modal-header">
    <h4 class="modal-title pull-left"></h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef3?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="mr-sm-2">Alterado com sucesso!</label>
    <br />
    <br />
    <button type="button" class="btn btn-primary" (click)="closeModals()">Ok</button>
  </div>
</ng-template>
