
  <div class="modal-header">
      <h4 class="modal-title pull-left"></h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal(1)">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2">Título: </label>
              <br>
              <input type="email" class="form-control" name="email" id="email" value="{{noticia?.titulo}}">
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2">URL da imagem: </label>
                <br>
                <input type="email" class="form-control" name="email" id="email" value="{{noticia?.urlImg}}">
            </div>
            <div class="col-auto my-1">
              <label for="exampleFormControlTextarea1">Resumo: </label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
                  {{noticia?.resumo}}
              </textarea>
            </div>
            <div class="col-auto my-1">
                <label for="exampleFormControlTextarea1">Texto: </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">
                    {{noticia?.texto}}
                </textarea>
            </div>
            data
            <div class="col-auto my-1">
                <label class="mr-sm-2">Fonte: </label>
                <br>
                <input type="email" class="form-control" name="email" id="email" value="{{noticia?.fonte}}">
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Categoria: </label>
                <br>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Selecione...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <label class="mr-sm-2">Link da notícia: </label>
                <br>
                <input type="email" class="form-control" name="email" id="email" value="{{noticia?.linkDaNoticia}}">
            </div>
          <div class="col-auto my-1">
            <button type="button" class="btn btn-secondary" (click)="closeModal(1)">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="openModal2(templateNested)">Salvar</button>
          </div>
        </div>
      </form>
  </div>

 
<ng-template #templateNested>
  <div class="modal-header">
    <h4 class="modal-title pull-left"></h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef2?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="mr-sm-2">Tem certeza que deseja fazer as alterações?</label>
    <br />
    <br />
    <button type="button" class="btn btn-secondary" (click)="closeModal(2)">Cancelar</button>
    <button type="button" class="btn btn-primary">Confirmar</button>
  </div>
</ng-template>