<div class="container">
  <div class="row icon-div-style-1 text-center">
    <div class="col-lg-12 icon-div-style-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#fff" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      <p>Portal Admin</p>
    </div>
  </div>
  <div class="row justify-content-md-center div-style">
    <form class="col-lg-4 form-style">
      <div class="row justify-content-md-center">
        <div class="col-lg-10 mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-10 mb-3">
          <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="inputPassword">
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-5 mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Exibir senha
            </label>
          </div>
        </div>
        <div class="col-lg-5 mb-3">
          <div class="form-check">
              <p class="remember-password">Esqueceu sua senha?</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-10 mb-3">
          <button type="submit" class="btn btn-primary col-sm-12">Acessar</button>
        </div>
      </div>
    </form>
  </div>
</div>