.div-style
    position: relative

.form-style
    position: absolute
    background-color: #ffffff
    border-radius: 10px
    box-shadow: 0 0 1em #000
    padding-top: 4rem
    padding-bottom: 4rem
    transform: translateY(30%)