<div class="container">
  <div class="row justify-content-md-center div-style">
    <form class="col-lg-4 form-style">
      <div class="row justify-content-md-center">
        <div class="col-lg-10 mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-10 mb-3">
          <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="inputPassword">
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-10 mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Lembrar-me
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-10 mb-3">
          <button type="submit" class="btn btn-primary col-sm-12">Acessar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<i class="fa-thin fa-house">oi</i>