@use '../../../styles'

.icon-div-style-2
    margin-top: 2rem

.div-style
    position: relative

.form-style
    position: absolute
    background-color: styles.$white-color
    border-radius: 10px
    box-shadow: 0 0 1.5em styles.$grey-color
    padding-top: 4rem
    padding-bottom: 4rem
    transform: translateY(10%)

.remember-password 
    color: styles.$blue-color
    font-size: 10pt
    cursor: pointer
    font-weight: bolder